<div class="row">
  <div
    class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-align-right margin-top7"
  >
    Enter Time Limit
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <input
      type="number"
      class="form-control input-time-limit"
      [(ngModel)]="timerValue"
    />
  </div>
</div>
<div class="row button-row">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"></div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <button type="button" class="btn btn-default" (click)="onStartPause()">
          {{ btnLabel }}
        </button>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <button type="button" class="btn btn-default" (click)="onReset()">
          Reset
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row log-row">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12 log-text"
      *ngFor="let log of logs"
    >
      {{ log }}
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"></div>
</div>
