<div class="container route-3-container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <app-countdowntimer></app-countdowntimer>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
          <app-countdowntimer-ops></app-countdowntimer-ops>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
          <app-countdowntimer-logs
            [countTrack]="clickTrack"
          ></app-countdowntimer-logs>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
          <app-countdowntimer-track></app-countdowntimer-track>
        </div>
      </div>
    </div>
  </div>
</div>
