<div class="row route1Container">
  <div class="col-xs-12 sm-12 md-8 lg-8">
    <h4>Task: To show the Look and feel of the following Image on the Page</h4>
  </div>
  <div class="col-xs-12 sm-12 md-8 lg-8">
    <div class="box">
      <div class="box">
        <div class="box">
          <div class="box">
            <div class="box">
              <div class="box">
                <div class="box">
                  <div class="box">
                    <marquee class="textLabelContainer">
                      A floating banner text which keeps on rotating
                    </marquee>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
